@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family:'Roboto', Courier, monospace;
    font-size: 62.5%;
}

a {
    text-decoration: none;
    font-family: 'Roboto', Courier, monospace;
    color: rgb(250, 250, 250);
}

ul {
    list-style: none;
}

img {
    width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* HEADER*/

header {
    background-color:rgb(52, 96, 240);
    padding: 0.6rem;
}
.sticky{
    position: fixed;
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.navbar__logo {
    max-width: 300px;
}

.navbar__menu {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.navbar__link {
    font-size: 1.8em;
    padding: 0.8rem 1.6rem;
    display: inline-block;
    transition: background .3s ease-in-out;
    position: relative;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    -ms-transition: background .3s ease-in-out;
    -o-transition: background .3s ease-in-out;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.navbar__link:hover {
    background-color: rgba(150, 255, 51, 0.9);
    color: rgb(52, 96, 240);
}

.with-icon {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.with-submenu:hover .submenu {
    display: block;
}

.submenu {
    display: none;
    width: 300px;
    position: absolute;
    background-color: rgb(52, 96, 240);
    z-index: 3;
}

.submenu__link {
    display: block;
    padding: 0.8rem 1.6rem;
    font-size: 1.8em;
    transition: background .3s ease-in-out;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    -ms-transition: background .3s ease-in-out;
    -o-transition: background .3s ease-in-out;
}

.submenu__link:hover {
    background-color: rgba(150, 255, 51, 0.9);
    color: rgb(52, 96, 240);
}

/* BUENOS AIRES BELOW*/

.below_contenedor {
    position: relative;
    display: inline-block;
    text-align: right;
   
}
 

.destino_X {
    position: absolute;
    top: 40%;
    left: 80%;
    font-family: 'Roboto', Courier, monospace;
    font-size: 3rem;
    color: rgba(255, 255, 255, 0.9);
    text-shadow: 1px 2px 2px black, 0px 0px 25px blue, 0px 0px 5px blue;
}

figure :hover figcaption {
    display: block;
}

figcaption {
    position: absolute;
    top:300px;
    bottom: 5px;
    left: 30px;
    right: 85px;
    text-align:right ;
    padding: 15px;
    font-family: 'Roboto', Courier, monospace;
    text-shadow: 1px 2px 2px black, 0px 0px 25px blue, 0px 0px 5px blue;
    font-size: 1.5em;
}

.bellow_contenedor a:hover {
    background-color: rgba(75, 248, 6, 0.938);
    color: blueviolet;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    padding:0.2rem 2rem;   
}

.main_container {
    display: grid;
    grid-template-columns: repeat(2, minmax(400px,1fr));
    margin-top: 10px;
    margin-bottom: 10px;
    gap: 5px;
    overflow: hidden;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}
.image {
    height: 400px;
    max-width: 1fr;
    object-fit: cover;
    vertical-align: top;
  }
  
.descripcion {
    height: 400px;
    max-width: 1fr;
    object-fit: cover;
    vertical-align: top;
    background: rgb(128, 171, 236);
}

.titulo_destino {
    font-family: 'Roboto', Courier, monospace;
    font-size: 3rem;
    color: rgba(255, 255, 255, 0.9);
    text-shadow: 1px 2px 2px black, 0px 0px 25px blue, 0px 0px 5px blue;
    text-align: center;
    margin-top: 70px;
}

.texto_destino {
    font-family: 'Roboto', Courier, monospace;
    color: black;
    font-size: 1.5rem;
    text-shadow: 0px 10px 0px black 5px; 
    text-align: justify;
    margin: 50px 20px 40px;
}


.descripcion a {
    text-decoration: none;
    color: white;
}

/*.descripcion a:visited {
    color: gray;*/

.descripcion a:hover {
    background-color: rgba(75, 248, 6, 0.938);
    color: blueviolet;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    padding:0.2rem 2rem;
}

/*Footer*/

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color:white;
    border-radius: 25px;
}

.navbar {
    margin-top: 20px;
}

.follow {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.follow__us {
    margin-right: 10px;
    margin-left: 10px;
    font-size: 2rem;
}

.follow__social_icons  {
    margin-right: 10px;
    font-size: 25px;
}

.footer__copy {
    margin-left: 250px;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 1rem;
}

.fab:hover {
    transform: scale(1.7);
}
@keyframes colors {
    0% {text-shadow: 2px 2px 4px rgb(52, 96, 240);}
    25% {text-shadow: 2px 2px 4px rgb(52, 155, 240);}
    50% {text-shadow: 2px 2px 4px rgb(52, 212, 240);}
    100% {text-shadow: 2px 2px 4px rgba(75, 248, 6, 0.938);}
}


/*----------Responsive Tablet----------*/

@media screen and (min-width: 640px) and (max-width: 1200px) {
    
    .navbar__logo {
        max-width: 150px;
    }

    .navbar__link {
        font-size: 1.5rem;
        padding: 0.5em; 
    }

    .submenu__link {
        font-size: 1.5rem;
    }

    .destino_X {
        font-size: 2rem;
        top: 25%;
        left: 75%;
    }

    figcaption {
        top:160px;
        right: 65px;
        font-size: 1rem;
    }

    .main_container {
        grid-template-columns: repeat(2, minmax(200px,1fr));
        margin-top: 5px;
        margin-bottom: 5px;
        gap: 3px;
    }

    .image {
        height: 200px;
      }
      
    .descripcion {
        height: 200px;
    }
    
    .titulo_destino {
        font-size: 1.5rem;
        margin-top: 15px;
    }
    
    .texto_destino {
        font-size: 1rem;
        margin: 10px 10px 15px;
    }

    .follow__us {
        font-size: 1.5rem;
    }
    
    .follow__social_icons {
        font-size: 15px;
    }
    
    .footer__copy {
        font-size: 0.5rem;
    }
    
    }

/*----------Responsive Mobile----------*/

@media screen and (max-width: 640px) {
    .navbar__logo {
        max-width: 100px;
    }
    
    .navbar__link {
        font-size: 1rem;
        padding: 0.5em; 
    }
    
    .submenu__link {
        font-size: 1rem;
    }

    .destino_X {
        font-size: 1.5rem;
        top: 20%;
        left: 70%;
    }
    
    figcaption {
        top:120px;
        right: 30px;
        font-size: 0.8rem;
    }
    
    .main_container {
        grid-template-columns: repeat(2, minmax(150px,1fr));
        margin-top: 5px;
        margin-bottom: 5px;
        gap: 3px;
    }
    
    .image {
            height: 150px;
    }
          
    .descripcion {
            height: 150px;
    }
        
    .titulo_destino {
            font-size: 1rem;
            margin-top: 15px;
    }
        
    .texto_destino {
            font-size: 0.6rem;
            margin: 10px 10px 15px;
    }

    .follow__us {
        font-size: 1rem;
    }
    
    .follow__social_icons {
        font-size: 10px;
    }
    
    .footer__copy {
        font-size: 0.3rem;
    }

    }    