@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family:'Roboto', Courier, monospace;
    font-size: 62.5%;
}

a {
    text-decoration: none;
    font-family: 'Roboto', Courier, monospace;
    color: rgb(250, 250, 250);
}

ul {
    list-style: none;
}

img {
    width: 100%;
}

/* HEADER*/

header {
    background-color:rgb(52, 96, 240);
    padding: 0.6rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.navbar__logo {
    max-width: 300px;
}

.navbar__menu {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.navbar__link {
    font-size: 1.8rem;
    padding: 0.8rem 1.6rem;
    display: inline-block;
    transition: background .3s ease-in-out;
    position: relative;
    border-radius: 20px;
}

.navbar__link:hover {
    background-color: rgba(75, 248, 6, 0.938);
    color: rgb(52, 96, 240);
}

.with-icon {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.with-submenu:hover .submenu {
    display: block;
}

.submenu {
    display: none;
    width: 300px;
    position: absolute;
    background-color: rgb(52, 96, 240);
    z-index: 3;
}

.submenu__link {
    display: block;
    padding: 0.8rem 1.6rem;
    font-size: 1.8em;
    transition: background .3s ease-in-out;
}

.submenu__link:hover {
    background-color: rgba(75, 248, 6, 0.938);
    color: rgb(52, 96, 240);
}

/*Main*/

.below {
    background-image: url(../img/CONTACTO.jpg);
    padding: 15rem;
    background-position: top;
    background-size: cover;
    background-attachment:fixed;
    position: relative;
}

.below__content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: start;
    z-index: 2;
    position: relative;
    align-items: flex-end;
}

.below__title {
    font-family: 'Roboto', Courier, monospace;
    font-size: 5rem;
    color: rgba(255, 255, 255, 0.9);
    text-shadow: 1px 1px 0 black, -1px 1px 0 black, 1px -1px 0 black, -1px -1px 0 black;
}

#contacto {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 600px;
    margin: 0 auto;
    padding: 30px;
    text-align: center;
}

legend{
    font-family: 'Roboto', Courier, monospace;
    font-size: 4rem;
    color:rgb(52, 96, 240); 
    font-weight:bold;
}

.linea {
    display: flex;
    padding: 10px;
}

label {
    width: 200px;
    font-weight: bold;
    text-align: left;
    font-family:'Roboto', Courier, monospace;
    font-size: 2rem;
    color:rgb(52, 96, 240); 
    
}

input {
    width: 300px;
    border-radius: 5px;
}

textarea {
    background-color: rgb(232, 235, 236);
    width: 300px;
}

.button {
    width: 100px;
    height: 50px;
    background-color: rgb(52, 96, 240);
    color: white;
    font-weight: bold;
    font-size: 25px;
    border-radius: 1rem;
    text-align:center;
    text-decoration: none;
}

.button:hover {
    background-color: rgb(52, 96, 240);
    color:rgb(250, 250, 250);
    cursor: pointer;
}

.sobrenosotros{
    font-size: 3rem;
    font-family: 'Roboto', Courier, monospace;
    font-style: italic;
    color: rgb(52, 96, 240);
}

.acercaDe {
    margin:auto;
    display:grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 1rem; 
    padding: 15px;
}
  
.izquierda {
    float: right;
}

.derecha{
    float: left;
    font-size: 3rem;
    font-family: 'Roboto', Courier, monospace;
    text-align: justify;
    font-style: italic;

}
  

/*FOOTER*/

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color:white;
    border-radius: 25px;
    font-family: 'Roboto', Courier, monospace;
}

.navbar {
    margin-top: 20px;
    margin-bottom: 20px;
}

.follow {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.follow__us {
    margin-right: 10px;
    margin-left: 10px;
    font-size: 2rem;
}

.follow__social_icons  {
    margin-right: 10px;
    font-size: 25px;
}

.footer__copy {
    margin-left: 80px;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 1rem;
}
.fab:hover {
    transform: scale(1.7);
}

/*----------Responsive Tablet----------*/

@media screen and (min-width: 640px) and (max-width: 1200px) {
    
    .navbar__logo {
        max-width: 150px;
    }

    .navbar__link {
        font-size: 1.5rem;
        padding: 0.5em; 
    }

    .submenu__link {
        font-size: 1.5rem;
    }

    .below {
        padding: 10rem;
        background-attachment:scroll;
    }

    .below__title {
        font-size: 3rem;
    }

    legend{
        font-size: 2.5rem;
    }

    .linea {
        padding: 8px;
    }
    
    label {
        width: 150px;
        font-size: 1.5rem;
    }

    .button {
        width: 80px;
        height: 40px;
        font-size: 18px;
    }

    .sobrenosotros{
        font-size: 2rem;
    }
    
    .derecha{
        font-size: 1.5rem;
    }

    .follow__us {
        font-size: 1.5rem;
    }
    
    .follow__social_icons {
        font-size: 15px;
    }
    
    .footer__copy {
        font-size: 0.5rem;
    }
}

/*----------Responsive Mobile----------*/

@media screen and (max-width: 640px) {
    .navbar__logo {
        max-width: 100px;
    }

    .navbar__link {
        font-size: 1rem;
        padding: 0.5em; 
    }

    .submenu__link {
        font-size: 1rem;
    }
    
    .below {
        padding: 8rem;
        background-attachment:scroll;
    }

    .below__title {
        font-size: 2.5rem;
    }

    #contacto {
        width: 450px;
    }

    legend{
        font-size: 2rem;
    }

    .linea {
        padding: 5px;
    }
    
    label {
        width: 120px;
        font-size: 1.3rem;
    }

    input {
        width: 250px;
    }
    
    textarea {
        width: 250px;
    }

    .button {
        width: 65px;
        height: 30px;
        font-size: 15px;
    }

    .sobrenosotros{
        font-size: 1.8rem;
    }
    
    .derecha{
        font-size: 1.2rem;
    }
    .follow__us {
        font-size: 1rem;
    }
    
    .follow__social_icons {
        font-size: 10px;
    }
    
    .footer__copy {
        font-size: 0.3rem;
    }
}